@page "/Customers"
@using Square.Models
<PageTitle>Customers</PageTitle>

<h1>Customers</h1>

<button @onclick="@ListCustomers">List customers</button>

<div class="text-danger">@CustomerListMsg</div>

@if (CustomerList.Any()) {
  <table class="table table-sm">
    <tr>
      <th>Id</th>
      <th>GivenName</th>
      <th>FamilyName</th>
      <th>EmailAddress</th>
      <th># Cards</th>
      <th> </th>
    </tr>
    @foreach (Customer c in CustomerList) {
      <tr>
        <td>@c.Id</td>
        <td>@c.GivenName</td>
        <td>@c.FamilyName</td>
        <td>@c.EmailAddress</td>
        <td style="text-align: center">@(c.Cards?.Any() ?? false ? c.Cards.Count : "0") </td> @* TODO AYS - Show the card details *@
        <td><button class="btn-sm" onclick="@(() => DeleteCustomer(c.Id))">Delete</button></td>
      </tr>
    }
  </table>
}

<fieldset style="border-top: 1px solid #000" class="mt-3">
  <legend>New customer</legend>
  <EditForm Model="@Customer" OnSubmit="@CreateCustomer">
    <div class="row">
      <label class="col-2">First name</label>
      <div class="col-8"><InputText @bind-Value="@Customer.FirstName" /></div>
    </div>
    <div class="row">
      <label class="col-2">Surname</label>
      <div class="col-8"><InputText @bind-Value="@Customer.Surname" /></div>
    </div>
    <div class="row">
      <label class="col-2">Email</label>
      <div class="col-8"><InputText @bind-Value="@Customer.Email" /></div>
    </div>
    <div class="row">
      <label class="col-2">Address 1</label>
      <div class="col-8"><InputText @bind-Value="@Customer.Address1" /></div>
    </div>
    <div class="row">
      <label class="col-2">Address 2</label>
      <div class="col-8"><InputText @bind-Value="@Customer.Address2" /></div>
    </div>
    <div class="row">
      <label class="col-2">Postcode</label>
      <div class="col-8"><InputText @bind-Value="@Customer.Postcode" /></div>
    </div>
    <div class="row">
      <label class="col-2">Country</label>
      <div class="col-8"><InputText @bind-Value="@Customer.Country" /></div>
    </div>
    <div class="row">
      <label class="col-2">Phone</label>
      <div class="col-8"><InputText @bind-Value="@Customer.Phone" /></div>
    </div>
    <div class="row">
      <div class="col-2"> </div>
      <div id="@_elementId" class="col-6"></div>
    </div>
    <div class="row">
      <div class="col-2"> </div>
      <div class="col-2"><button type="submit" style="width: 100px">Create</button></div>
    </div>
  </EditForm>
  <p>@NewCustomerMsg</p>
</fieldset>

<style>
  input {
    margin-bottom: 5px;
  }
</style>